/* Main */

body {
    background-image: url(../img/bg.png);
    background-color: #eee;
    background-size: cover;
    background-repeat: no-repeat;
    color: #eee;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'berkshire_swashregular';
    src: url('../fonts/berkshireswash-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    margin: 25px auto;
    text-shadow: 1px 1px 2px #ddd;
    font-family: 'berkshire_swashregular', 'Times New Roman', sans-serif;
    font-size: 50px;
    text-align: center;
}

.container {
    width: 800px;
    margin: 0 auto;
    background-color: rgba(200, 200, 200, 0.5);
    padding: 20px;
    box-shadow: 0 0 5px 1px #ddd;
}

.gallery li {
    width: 250px;
    height: 125px;
    overflow: hidden;
    float: left;
    margin: 8px 8px;
    position: relative;
}

.clear {
    clear: both;
}

.gallery img {
    width : 250px;
    height: 125px;
}

.gallery li span {
    display: block;
    width : 250px;
    height: 125px;
    color: #eee;
    font-family: berkshire_swashregular, open_sansreguler, sans-serif;
    font-size: 32px;
    text-align: center;
    line-height: 125px;
    background-color: rgba(50, 50, 50, 0.7);
    position: absolute;
    top: 0;
    text-shadow: 1px 1px 1px #ddd;
    opacity: 0;
    transform : scale(0);
    
}

.gallery li a {
    text-decoration: none;
}

.gallery li a:hover span {
    opacity: 1;
    transform: scale(1);
    transition: 0.5s;
}

.gallery li a:hover img {
    transform: scale(1.2);
    transition: 0.5s;
}

.gallery li:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    transition: 0.2s;
}


/* Overlay */

.overlay {
    position: fixed;
    overflow: hidden;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0);
    z-index: 999;
    transition: 0.8s;
}

.overlay:target {
    width: auto;
    height: auto;
    background: rgba(0, 0, 0, 0.8);

}

.overlay img {
    position: absolute;
    top: 10vh;
    right: 10%;
    left: 10%;
    width: 80vw;
    height: 80vh;
    box-shadow: 2px 2px 5px rgba(120, 120, 120, 0.5);
}

.overlay:target img {
    animation: ZoomFade 1s;
}

/* CLOSE */

.close {
    font: 6vh open_sansreguler, arial, sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 8vh;
    position: absolute;
    top: 4vh;
    right: 4vh;
    z-index: 999;
    color: #ddd;
    background: #111;
    border: #eee .8vh solid;
    display: block;
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    opacity: 0;
}

.close:hover {
    color: #777;
    border: #666 .8vh solid;
    background-color: #222;
}

.overlay:target .close {
    animation: SlideDownFade 0.5s 0.5s forwards;
}

/* Navigation */

.next {
    width: 10vh;
    height: 10vh;
    background-image: url(../img/right-arrow.ico);
    position: absolute;
    background-size: contain;
    background-blend-mode: lighten;
    top: 45vh;
    right: 2vw;
    text-indent: -100vw;
    opacity: 0;
}

.previews {
    width: 10vh;
    height: 10vh;
    background-image: url(../img/left-arrow.ico);
    position: absolute;
    background-size: contain;
    background-blend-mode: lighten;
    top: 45vh;
    left: 2vw;
    text-indent: -100vw;
    opacity: 0;
}

.overlay:target a.next {
    animation: SlideLeftFade 0.5s 0.5s forwards;
}

.overlay:target a.previews {
    animation: SlideRightFade 0.5s 0.5s forwards;
}


/* Animation */

@keyframes ZoomFade {
   
    0% {
        transform: scale(0);
        opacity: 0;
    }
    
    100% {
        transform: scale(1);
        opacity: 1;
    }

}


@keyframes SlideDownFade {
    from {
        opacity: 0;
        margin-top: -20px;
    }

    to {
        opacity: 1;
        margin: 0;
    }
}


@keyframes SlideRightFade {
    from {
        opacity: 0;
        left: 0vw;
    }

    to {
        opacity: 1;
        left: 2vw;
    }
}


@keyframes SlideLeftFade {
    from {
        opacity: 0;
        right: 0vw;
    }

    to {
        opacity: 1;
        right: 2vw;
    }
}